<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link rel="stylesheet" href="css/stylesCarrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Oswald&family=PT+Serif&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <title>Carrito de compras</title>
</head>

<body>
    
    <header>
    </header>
    

    <main>
        
        
        <h2 class="carrito-titulo">Carrito de Compras</h2> 
        
        <section class="carrito-principal">
                  
            <article class="carrito-articulo">
                <i class="fa-regular fa-trash-can"></i>
                <picture class="carrito-imagen-producto"><img src="/images/hp-black.jpg" alt="imagen-producto" class="imagen-producto"></picture>
                <div class="carrito-articulo-nombre-descripcion">
                    <h3>Auriculares HP350</h3>
                    <p>Auriculares de alta calidad, marca HP, cable 1.5m , color negro</p>
                </div>
                <div class="carrito-articulo-cantidad-precio">
                    <p class="carrito-cantidad"><i class="fa-solid fa-circle-minus"></i> Cant:1 <i class="fa-solid fa-circle-plus"></i></p>
                    <p class="carrito-precio">$2.334,00</p>
                </div>
            </article>

            <article class="carrito-articulo">
                <i class="fa-regular fa-trash-can"></i>
                <picture class="carrito-imagen-producto"><img src="/images/hp-black.jpg" alt="imagen-producto" class="imagen-producto"></picture>
                <div class="carrito-articulo-nombre-descripcion">
                    <h3>Auriculares HP350</h3>
                    <p>Auriculares de alta calidad, marca HP, cable 1.5m , color negro</p>
                </div>
                <div class="carrito-articulo-cantidad-precio">
                    <p class="carrito-cantidad"><i class="fa-solid fa-circle-minus"></i> Cant:1 <i class="fa-solid fa-circle-plus"></i></p>
                    <p class="carrito-precio">$2.334,00</p>
                </div>
            </article>
            
            <article class="carrito-articulo">
                <i class="fa-regular fa-trash-can"></i>
                <picture class="carrito-imagen-producto"><img src="/images/hp-black.jpg" alt="imagen-producto" class="imagen-producto"></picture>
                <div class="carrito-articulo-nombre-descripcion">
                    <h3>Auriculares HP350</h3>
                    <p>Auriculares de alta calidad, marca HP, cable 1.5m , color negro</p>
                </div>
                <div class="carrito-articulo-cantidad-precio">
                    <p class="carrito-cantidad"><i class="fa-solid fa-circle-minus"></i> Cant:1 <i class="fa-solid fa-circle-plus"></i></p>
                    <p class="carrito-precio">$2.334,00</p>
                </div>
            </article>

            <article class="carrito-articulo">
                <i class="fa-regular fa-trash-can"></i>
                <picture class="carrito-imagen-producto"><img src="/images/hp-black.jpg" alt="imagen-producto" class="imagen-producto"></picture>
                <div class="carrito-articulo-nombre-descripcion">
                    <h3>Auriculares HP350</h3>
                    <p>Auriculares de alta calidad, marca HP, cable 1.5m , color negro</p>
                </div>
                <div class="carrito-articulo-cantidad-precio">
                    <p class="carrito-cantidad"><i class="fa-solid fa-circle-minus"></i> Cant:1 <i class="fa-solid fa-circle-plus"></i></p>
                    <p class="carrito-precio">$2.334,00</p>
                </div>
            </article>
        </section>

        <section class="seccion-total">

            <p>Sub-Total $xx.xxx,xx</p>
            <p>Costo Envío $xx.xxx,xx</p>
            <p>Total con Envío $xx.xxx,xx</p>
            <button class="boton-comprar">Compar</button>

        </section>

    </main>
    
    <footer>
    </footer>    
</body>
</html>