<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Oswald&family=PT+Serif&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    
</head>

<body>
    
    <header>
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <picture class="header-logo"><img src="/images/logo.png" alt="SClogo" class="imagen-logo"></picture>
        
        <div class="burger-menu">
            <i class="fas fa-bars burger"></i>
        </div>
        
        <section class="header-principal">

            <div class="header-superior">  
                <h1 class="header-titulo">StreamCaster</h1>   
                <nav class="navbar-usuario-registro">
                    <ul>
                        <li><a href="/loggin" class="navbar-item"><i class="fa-solid fa-arrow-right-to-bracket"></i>Soy Usuario</a></li>
                        <li><a href="/registro" class="navbar-item"><i class="fa-regular fa-user"></i>Registrate</a></li> 
                    </ul>
                </nav>
            </div>
        
        
            <div class="header-medio">
                <form class="header-navbar-search">
                    <input class= "header-input-search" size="25" type= "text" placeholder="Buscar en StreamCaster">
                    <i class="fa-solid fa-magnifying-glass icon-search"></i>
                    <picture class="header-buscador-cart-shopping"><i class="fa-solid fa-cart-shopping"></i></picture>
                </form>
            </div>
        
            <div class="header-inferior">
                <nav class="header-navbar">
                    <ul class="header-navbar-izquierda">
                        <li><a href="/listadorProductos" class="navbar-item">Monitores</a></li>
                        <li><a href="/listadorProductos" class="navbar-item">Cámaras</a></li>
                        <li><a href="/listadorProductos" class="navbar-item">Micrófonos</a></li>
                        <li><a href="/listadorProductos" class="navbar-item">Botoneras</a></li>
                        <li><a href="/listadorProductos" class="navbar-item">Auriculares</a></li>
                    </ul>
                    <ul class="header-navbar-derecha">
                        <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i>Carrito</a></li>    
                    </ul>
                </nav>
            </div>
            
        </section>
    </header>
    

    <main>
        
        
        <h2 class="carrito-titulo">Carrito de Compras</h2> 
        
        <section class="carrito-principal">
                  
            <article class="carrito-articulo">
                <i class="fa-regular fa-trash-can"></i>
                <picture class="carrito-imagen-producto"><img src="/images/cam-logi.jpg" alt="imagen-producto" class="imagen-carrito"></picture>
                <div class="carrito-articulo-nombre-descripcion">
                    <h3>C340 HD WEBCAM</h3>
                    <p>Camara Web Webcam HD con Microfono</p>
                </div>
                <div class="carrito-articulo-cantidad-precio">
                    <p class="carrito-cantidad"><i class="fa-solid fa-circle-minus"></i> Cant:1 <i class="fa-solid fa-circle-plus"></i></p>
                    <p class="carrito-precio">$15.400,00</p>
                </div>
            </article>

            <article class="carrito-articulo">
                <i class="fa-regular fa-trash-can"></i>
                <picture class="carrito-imagen-producto"><img src="/images/hp-yellow.jpg" alt="imagen-producto" class="imagen-carrito"></picture>
                <div class="carrito-articulo-nombre-descripcion">
                    <h3>Auriculares HP350</h3>
                    <p>Auriculares de alta calidad, marca HP, cable 1.5m , color negro</p>
                </div>
                <div class="carrito-articulo-cantidad-precio">
                    <p class="carrito-cantidad"><i class="fa-solid fa-circle-minus"></i> Cant:1 <i class="fa-solid fa-circle-plus"></i></p>
                    <p class="carrito-precio">$4.500,00</p>
                </div>
            </article>
            
            <article class="carrito-articulo">
                <i class="fa-regular fa-trash-can"></i>
                <picture class="carrito-imagen-producto"><img src="/images/mic-blue.jpg" alt="imagen-producto" class="imagen-carrito"></picture>
                <div class="carrito-articulo-nombre-descripcion">
                    <h3>Microfono Mic-630</h3>
                    <p>Micrófono SoloCast condensador cardioide negro</p>
                </div>
                <div class="carrito-articulo-cantidad-precio">
                    <p class="carrito-cantidad"><i class="fa-solid fa-circle-minus"></i> Cant:1 <i class="fa-solid fa-circle-plus"></i></p>
                    <p class="carrito-precio">$6.800,00</p>
                </div>
            </article>

            <article class="carrito-articulo">
                <i class="fa-regular fa-trash-can"></i>
                <picture class="carrito-imagen-producto"><img src="/images/ring-light-10.jpg" alt="imagen-producto" class="imagen-carrito"></picture>
                <div class="carrito-articulo-nombre-descripcion">
                    <h3>Aro luz</h3>
                    <p>Auriculares de alta calidad, marca HP, cable 1.5m , color negro</p>
                </div>
                <div class="carrito-articulo-cantidad-precio">
                    <p class="carrito-cantidad"><i class="fa-solid fa-circle-minus"></i> Cant:1 <i class="fa-solid fa-circle-plus"></i></p>
                    <p class="carrito-precio">$3.500,00</p>
                </div>
            </article>
        </section>

        <section class="seccion-total">

            <p id="subtotal">Sub-Total $30.200,00</p>
           
            <div class="carrito-envio">
                <select value="direccion-envio" class="carrito-input-envio">
                    <option value="direccion-envio" selected disabled>Retiro por Local</option>
                    <option value="direccion-envio">Calle Inventada 4321 Casa, Localidad</option>
                    <option value="direccion-envio">Avenida UnoDosTres 123 Piso 12 Dto C, Localidad </option>
                    <option value="direccion-envio">Nueva dirección </option>
                </select>                
            </div>
            <p id="costo-envio">Costo Envío $1.800,00</p>
            
            <p id="total-con-envio">Total con Envío $32.000,00</p>
            <button class="boton-comprar">Comprar</button>

        </section>

    </main>
    
    <footer>
    </footer>    
</body>
</html>