<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link rel="stylesheet" href="css/stylesCarrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Oswald&family=PT+Serif&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <title>Carrito de compras</title>
</head>

<body>
    
    <header>
        <div class="header-banner">
            <img src="/images/logo.jpg" alt="imagen-producto" class="logo">
            <h2 class="nombre-sitio">StreamCaster</h2>
            <p class="header-usuario">Soy Usuario</p> 
            <p class="header-registrate">Registrate</p>
        </div>
        <div class="nav-bar">
            <h3>Monitores</h3> 
            <h3>Camaras</h3> 
            <h3>Micrófonos</h3>
            <h3>Botoneras</h3>
            <h3>Auriculares</h3>   
            <p>Carrito</p>
        </div>

    </header>
    

    <main>
        
        
        <h2 class="carrito-titulo">Carrito de Compras</h2> 
        
        <section class="carrito-principal">
                  
            <article class="carrito-articulo">
                <i class="fa-regular fa-trash-can"></i>
                <picture class="carrito-imagen-producto"><img src="/images/cam-logi.jpg" alt="imagen-producto" class="imagen-producto"></picture>
                <div class="carrito-articulo-nombre-descripcion">
                    <h3>C340 HD WEBCAM</h3>
                    <p>Camara Web Webcam HD con Microfono</p>
                </div>
                <div class="carrito-articulo-cantidad-precio">
                    <p class="carrito-cantidad"><i class="fa-solid fa-circle-minus"></i> Cant:1 <i class="fa-solid fa-circle-plus"></i></p>
                    <p class="carrito-precio">$15.400,00</p>
                </div>
            </article>

            <article class="carrito-articulo">
                <i class="fa-regular fa-trash-can"></i>
                <picture class="carrito-imagen-producto"><img src="/images/hp-yellow.jpg" alt="imagen-producto" class="imagen-producto"></picture>
                <div class="carrito-articulo-nombre-descripcion">
                    <h3>Auriculares HP350</h3>
                    <p>Auriculares de alta calidad, marca HP, cable 1.5m , color negro</p>
                </div>
                <div class="carrito-articulo-cantidad-precio">
                    <p class="carrito-cantidad"><i class="fa-solid fa-circle-minus"></i> Cant:1 <i class="fa-solid fa-circle-plus"></i></p>
                    <p class="carrito-precio">$4.500,00</p>
                </div>
            </article>
            
            <article class="carrito-articulo">
                <i class="fa-regular fa-trash-can"></i>
                <picture class="carrito-imagen-producto"><img src="/images/mic-blue.jpg" alt="imagen-producto" class="imagen-producto"></picture>
                <div class="carrito-articulo-nombre-descripcion">
                    <h3>Microfono Mic-630</h3>
                    <p>Micrófono SoloCast condensador cardioide negro</p>
                </div>
                <div class="carrito-articulo-cantidad-precio">
                    <p class="carrito-cantidad"><i class="fa-solid fa-circle-minus"></i> Cant:1 <i class="fa-solid fa-circle-plus"></i></p>
                    <p class="carrito-precio">$6.800,00</p>
                </div>
            </article>

            <article class="carrito-articulo">
                <i class="fa-regular fa-trash-can"></i>
                <picture class="carrito-imagen-producto"><img src="/images/ring-light-10.jpg" alt="imagen-producto" class="imagen-producto"></picture>
                <div class="carrito-articulo-nombre-descripcion">
                    <h3>Aro luz</h3>
                    <p>Auriculares de alta calidad, marca HP, cable 1.5m , color negro</p>
                </div>
                <div class="carrito-articulo-cantidad-precio">
                    <p class="carrito-cantidad"><i class="fa-solid fa-circle-minus"></i> Cant:1 <i class="fa-solid fa-circle-plus"></i></p>
                    <p class="carrito-precio">$3.500,00</p>
                </div>
            </article>
        </section>

        <section class="seccion-total">

            <p id="subtotal">Sub-Total $30.200,00</p>
           
            <div class="input-envio">
                <select value="direccion-envio">
                    <option value="" selected disabled>Retiro por Local</option>
                    <option value="direccion1">Calle Inventada 4321 Casa, Localidad</option>
                    <option value="direccion2">Avenida UnoDosTres 123 Piso 12 Dto C, Localidad </option>
                    <option value="direccion-nueva">Nueva dirección </option>
                </select>                
            </div>
            <p id="costo-envio">Costo Envío $1.800,00</p>
            
            <p id="total-con-envio">Total con Envío $32.000,00</p>
            <button class="boton-comprar">Comprar</button>

        </section>

    </main>
    
    <footer>
    </footer>    
</body>
</html>