<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Oswald&family=PT+Serif&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <title>Detalle producto</title>
</head>
<!-- este html lo edita Hernán Ingrassia -->
<body>
    <header>
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <picture class="header-logo"><img src="/images/logo.png" alt="SClogo" class="imagen-logo"></picture>
        
        <div class="burger-menu">
            <i class="fas fa-bars burger"></i>
        </div>
        
        <section class="header-principal">

            <div class="header-superior">  
                <h1 class="header-titulo">StreamCaster</h1>   
                <nav class="navbar-usuario-registro">
                    <ul>
                        <li><a href="/loggin" class="navbar-item"><i class="fa-solid fa-arrow-right-to-bracket"></i>Soy Usuario</a></li>
                        <li><a href="/registro" class="navbar-item"><i class="fa-regular fa-user"></i>Registrate</a></li> 
                    </ul>
                </nav>
            </div>
        
        
            <div class="header-medio">
                <form class="header-navbar-search">
                    <input class= "header-input-search" size="25" type= "text" placeholder="Buscar en StreamCaster">
                    <i class="fa-solid fa-magnifying-glass icon-search"></i>
                    <picture class="header-buscador-cart-shopping"><i class="fa-solid fa-cart-shopping"></i></picture>
                </form>
            </div>
        
            <div class="header-inferior">
                <nav class="header-navbar">
                    <ul class="header-navbar-izquierda">
                        <li><a href="/listadorProductos" class="navbar-item">Monitores</a></li>
                        <li><a href="/listadorProductos" class="navbar-item">Cámaras</a></li>
                        <li><a href="/listadorProductos" class="navbar-item">Micrófonos</a></li>
                        <li><a href="/listadorProductos" class="navbar-item">Botoneras</a></li>
                        <li><a href="/listadorProductos" class="navbar-item">Auriculares</a></li>
                    </ul>
                    <ul class="header-navbar-derecha">
                        <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i>Carrito</a></li>    
                    </ul>
                </nav>
            </div>
            
        </section>
    </header>
    <main class="detalle">
        <section class="encabezadoProd">
            <div class="nombreProducto">Micrófono Blue</div>
            <div class="calificacion"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><i class="fa-regular fa-star"></i></div>
            <div>Categoria: Micrófonos para podcast</div>
        </section>
        <section class="fotoybasic">
            <picture><img src="/images/mic-blue.jpg" class="imgProd"></picture>
            <div class="basic">
                <article class="condiciones">
                    <p class="precio">$30000</p>
                    <p class="descuento">25%</p>
                </article>
                <article class="condiciones2">    
                    <p class="cuotas">Hasta 12 cuotas</p>
                    <p class="envio">Envío gratis a todo el país<i class="fa-regular fa-truck"></i></p>
                    <p class="disp">Disponible</p>
                </article>
                <form class="compra">
                    <button class="comprar"><a href="/carrito">Comprar</a></button>
                    <button class="agregarCarrito"><a href="/carrito">Agregar al carrito</a></button>
                </form>
                <article class="disclaimers">
                    <p>Devolución Gratis</p>
                    <p>Compra Protegida</p>
                </article>
                <article class="descripcion">
                    <h3>Caracteristicas técnicas</h3>
                        <ul>    
                            <li>Recomendado para podcast, grabaciones, voces, instrumentos, computadoras, entrevistas, juegos, locuciones, conferencias.</li>
                            <li>Formato: estudio y de mesa.</li>
                            <li>Dispositivos compatibles: pc.</li>
                            <li>Conector/es de salida: jack 3.5 mm y usb.</li>
                            <li>Frecuencia máxima: 20kHz.</li>
                            <li>Frecuencia mínima: 20Hz.</li>
                            <li>La mejor calidad para tus transmisiones.</li>
                            <li>Alta resolución.</li>
                        </ul>    
                </article>
            </div>
        </section>
            <article class="parrafos">
                <h3>Descripción</h3>
                <p>La comunicación clara y poderosa es importante para todas las organizaciones. Los micrófonos de Blue te permiten capturar y transmitir con una calidad de sonido sorprendente. Blue combina audio de calidad profesional con la simplicidad plug-and-play para ofrecer un rendimiento que está a años luz de los micrófonos integrados para portátiles y cámaras.</p>
                <h5>Un formato a tu medida</h5>
                <p>Al ser condensador, posibilitará un resultado claro y fino. Es ideal para percusiones, guitarras, pianos, entre otros. Por su respuesta tan definida ante la voz, es el más elegido por los profesionales.</p>
                <h5>Diseño eficaz</h5>
                <p>Dejá de dar tantas vueltas e invertí en la versatilidad de este producto, ya que de acuerdo a tu necesidad, podrás intercambiar los patrones polares las veces que quieras. ¡Animate y empezá a disfrutar de la herramientas estándar del mercado!</p>
            </article>
            <article class="parrafos">
                <h4>Formas de pago</h4>
                    <ul class="pagos">
                        <li><i class="fa-solid fa-credit-card"></i>Tarjeta</li>
                        <li><i class="fa-regular fa-money-bill-transfer"></i>Transferencia</li>
                    </ul>    
            </article>
    </main>
    <footer>
        <h3><a href="/">Conocenos</a></h3>
        <article>
            <h3>Nuestras redes</h3>
                <div class="logos">
                    <a href="/"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="/"><i class="fa-brands fa-twitter"></i></a>
                    <a href="/"><i class="fa-brands fa-twitch"></i></a>
                    <a href="/"><i class="fa-brands fa-youtube"></i></a>
                    <a href="/"><i class="fa-brands fa-instagram"></i></a>        
                </div>
        </article>
        <article>
            <h3>Contactenos</h3>
            <div><a href="/"><i class="fa-brands fa-whatsapp"></i>+54 9 11 5555-4329</a></div>
        </article>
        <article class="logo">
            <picture class="logochico"><img src="/images/logo.png" class="logo"></picture>
        </article>

    </footer>
</body>
</html>

