<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link rel="stylesheet" href="css/stylesListador.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Oswald&family=PT+Serif&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <title>Detalle producto</title>
</head>
<!-- este html lo edita Hernán Ingrassia -->
<body>
    <header>

    </header>
    <main>
        <h3 class="nombreProducto">Micrófono Blue</h3>
        <p>Categoria</p>
        <div>Calificación</div>
        <picture><img src="/images/mic-blue.jpg"></picture>
        <p class="precio"></p>
        <p class="descuento"></p>
        <p class="cuotas"></p>
        <p class="envio"></p>
        <p>Disponible</p>
        <form class="compra">
            <button class="comprar"></button>
            <button class="agregarCarrito"></button>
        </form>
        <article class="disclaimers">
            <p>Devolución Gratis</p>
            <p>Compra Protegida</p>
        </article>
        <article class="descripcion">
            <h3>Detalle de tu producto</h3>    
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quod velit quia harum ut voluptatum consequatur asperiores, nisi quam saepe maxime hic quis dicta perferendis, reiciendis fugit, ipsam voluptas veritatis.</p>
            <h3>Caracteristicas técnicas</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi placeat consequatur, eveniet a tempora distinctio magni quibusdam nesciunt officiis nulla vel iure ipsum, illum blanditiis dolore veniam cum obcaecati repellendus?</p>
        </article>
        <article>
            <h4>Formas de pago</h4>
                <p>Tarjeta</p>
                <p>Transferencia</p>
        </article>
    </main>
    <footer>

    </footer>
</body>

</html>
