<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link rel="stylesheet" href="css/stylesListador.css">
    <title>Listado de productos</title>
</head>
<body>
    <header>

    </header>
    <main class="main-content">
        <section>
            <article class="filtroListador">
                <div>
                    <h3>Filtrar por<i class="fa-sharp fa-solid fa-caret-down"></i></h3>
                    <ul>                        
                        <!-- <li>
                            <p>Filtro 1</p>
                        </li>
                        <li>
                            <p>Filtro 1</p>
                        </li>
                        <li>
                            <p>Filtro 1</p>
                        </li>
                        <li>
                            <p>Filtro 1</p>
                        </li>
                    </ul> -->
                </div>
            </article>
        </section>
        
        <div class="titulo-seccion">
            <h2>Categoria elegida</h2>
        </div>

        <section class="section-producto">           
            <article class="producto">
                <div class="img-producto">
                    <img src="images/cam-logi-small.jpg" alt="">
                </div>
                <div class="descripcion-article">
                    <div class="titulo-producto">
                        <p>WebCam Logi</p>
                    </div>
                    <div class="valores-producto">
                        <p>$12340</p>
                        <p>3 cuotas sin interes</p>
                    </div>
                </div>
            </article>
            <article class="producto">
                <div class="img-producto">
                    <img src="images/cam-logi.jpg" alt="">
                </div>
                <div class="descripcion-article">
                    <div class="titulo-producto">
                        <p>WebCam Logi Pro</p>
                    </div>
                    <div class="valores-producto">
                        <p>$1234</p>
                        <p>12 cuotas</p>
                    </div>
                </div>
            </article>
            <article class="producto">
                <div class="img-producto">
                    <img src="images/hp-yellow.jpg" alt="">
                </div>
                <div class="descripcion-article">
                    <div class="titulo-producto">
                        <p>Auriculares estudio</p>
                    </div>
                    <div class="valores-producto">
                        <p>$21234</p>
                        <p>12 cuotas</p>
                    </div>
                </div>
            </article>
            <article class="producto">
                <div class="img-producto">
                    <img src="images/ring-hero-frame-2.jpg" alt="">
                </div>
                <div class="descripcion-article">
                    <div class="titulo-producto">
                        <p>Halo Led</p>
                    </div>
                    <div class="valores-producto">
                        <p>$2334</p>
                        <p>6 cuotas sin interes</p>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>