body.body-crear {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main.main-crear {
    width: 70%;
    margin: 20px auto;
    background-color: #fff;
    color: #2e2e2e;
    padding: 20px;
    border-radius: 15px;
}

form.form-crear {
    padding: 2vw 6vw 4vw 2vw;
  }
  
/*  main.main-crear .titulo-form-rgt {
    color: #2e2e2e;
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
  }
  
  section.section-rgt form.form-rgt {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section-rgt .form-rgt .campo-rgt {
    display: flex;
    flex-direction: column;
    line-height: 35px;
  }
  
  .section-rgt .form-rgt .campo-rgt input {
    padding: 10px;
    border: none;
    background-color: #2e2e2e;
    border-radius: 15px;
    color: #fff;
    width: 200px;
    box-shadow: #35007a 0 0 10px;
  }
  
  .section-rgt .form-rgt .boton {
    margin: 15px 0;
  }

  .section-rgt .form-rgt .button-rgt a{
    text-decoration: none;
    color: #fff;
  } 
  
  .button-rgt{
    border-radius: 15px;
    border: none;
    background: rgb(133 75 255);
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    transition: all .5s; 
  }
  
  .button-rgt:hover{
    background: linear-gradient(90deg, rgb(244 237 255) 0%, rgb(222 209 255) 23%, rgb(174 138 255) 45%, rgb(133 75 255) 76%, rgb(120 43 255) 100%);
    color: black;
  } */
  

@media (min-width: 768px){

    main.main-crear {
      margin: 20px auto;
      max-width: 500px;
      display: flex;
      flex-direction: column;
    }
  
    main.main-crear section.section-crear form.form-crear{
      display: flex;    
      flex-direction: column;
      align-items: center;
    }
  
    .section-crear .form-crear .campo-crear{
      display: flex;
      flex-direction: column;
      line-height: 35px;
    }
  
  
  }