@import url("stylesHome.css");
@import url("stylesDetalle.css");
@import url("stylesListador.css");
@import url("stylesCarrito.css");
@import url("stylesRegistro.css"); 
@import url("styleProfile.css");
@import url("stylesLogin.css");
@import url("stylesCreacion.css");

/* header */
header{
    display: flex;
    width: 100%;
    background-color: rgb(39, 39, 39);
    padding: 20px;
    color: #ebebeb;
}

.imagen-logo{
    display: none;
    width: 15vw;
    max-width: 120px;
    align-self: center; 
    transition: 1s;
}

.imagen-logo:hover{
    transform: rotate3d(0,1,0,360deg);
}

.header-titulo{
    font-size: 100%;
}

.header-principal{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header-superior{
    display: none;
    width: 100%;
    color: #ebebeb;
}

.navbar-usuario-registro{
    margin-left: 10px;
    align-self: center;

}

.avatar-profile {
    width: 50px;
}

.header-titulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}

.header-medio{
    align-self: center;
}

.header-navbar-search{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-input-search{
    font-size: 100%;
    align-self: center;
    border-radius: 15px;
    padding-left: 10px;
    margin-left: 10px;
    padding: 10px;
}

.header-inferior{
    display: none;
}

.header-navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

header ul li {
    list-style-type: none;
    display: inline-block; 
}

header ul li a {
    text-decoration: none;
    color: #ebebeb;
    padding: 5px 0;  
    margin-left: 3vw;
    transition: .5s;
}

header ul li a:hover{
    color: rgb(133 75 255);
}   

.burger-menu{
    background-color: rgb(133 75 255);
    border-radius: 5px;
    color: #fff;
    padding: 10px;    
    text-align: center;    
    transition: all .5s;
}

.burger-menu:hover{
    background: linear-gradient(90deg, rgb(244 237 255) 0%, rgb(222 209 255) 23%, rgb(174 138 255) 45%, rgb(133 75 255) 76%, rgb(120 43 255) 100%);
    color: black;
}

.fa-cart-shopping{
    margin-left: 5vw;
}

.icon-search{
    display: none;
}

@media (min-width:768px){
    .burger-menu{
        display: none;
    }
    .header-superior{
        display: flex;
        justify-content: right;    
    }
    .header-titulo{
        text-align: center;
    }
    
    .imagen-logo{
        display: initial;
    }
    .header-inferior{
        display: flex;          
    }
    .header-navbar{
        margin-top: 20px;
    }
    .header-input-search{
        font-size: 24px;
        width: 40vw;
        padding: 10px;
        border: none; 
    }
    .header-buscador-cart-shopping{
        display: none;
    }
    .icon-search{
        display: initial;
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 24px;
        color: #2e2e2e;
    }
}

@media (min-width:1200px){
    header ul li a {
        font-size: 18px;
    }
    .header-titulo{
        margin-right: 15vw;
    }
}
/* fin header */

/* body */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-image: url("../images/products/v1016-b-08.jpg");
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* fin body */

/* footer */
footer {
    /* position: relative;
    top: 35px; */
    text-align: center;
    color: #ced4da;
    background-color: #2e2e2e;
}

picture.logochico img {
    max-width: 100px;
}

.logo{
    transition: 1s;
}

.logo:hover{
    transform: rotate3d(0,1,0,360deg);
}

footer div a,
footer h3 a {
    text-decoration: none;
    color: #ced4da
}

footer article {
    margin: 10px;
}

.fa-whatsapp {
    color: greenyellow
}

@media (min-width: 480px) {

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* margin: auto; */
    }

    footer article.logo {
        order: -1
    }

}
/* fin footer */