.main-loggin {
    /* background-color: #fff; */
    color: #2e2e2e;
    /* width: 70%; */
    /* padding: 20px; */
    display: flex;
    margin: 20px auto;
    flex-grow: 1;
    /* flex-direction: column; */
    /* align-items: center; */
    /* border-radius: 15px; */
}

.section-main-loggin {
    /* width: 50%; */
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.section-loggin .form-loggin .campo-loggin{
    display: flex;
    flex-direction: column;
    line-height: 35px;
    margin-bottom: 15px;
}

.section-loggin .form-loggin .campo-loggin input{
    padding: 10px;
    border: none;
    background-color: #2e2e2e;
    border-radius: 15px;
    color: #fff;
    /* width: 80%; */
    box-shadow: #35007a 0 0 10px;
}

main.main-loggin section.section-loggin form.form-loggin label.checkbox-recordar input{
    margin-right: 5px;
}

.section-loggin .form-loggin .links-recuperacion{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.section-loggin .form-loggin .boton {
    margin: 15px 0;
}

.text-danger{
    color: #d50000;
}
/* .section-loggin .form-loggin .button-ingresar {
    padding: 8px;
    margin: auto;
    border-radius: 15px;
    border: none;
    color: #fff;
    background-color: rgb(133 75 255);
}

.section-loggin .form-loggin .button-ingresar:hover {
    background-color: rgb(192, 163, 255);
    color: rgb(57, 1, 103);
    transition: 0.3s;
} */

.button-ingresar{
    border-radius: 15px;
    border: none;
    background: rgb(133 75 255);
    color: #fff;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    transition: all .5s; 
}

.button-ingresar:hover{
    background: linear-gradient(90deg, rgb(244 237 255) 0%, rgb(222 209 255) 23%, rgb(174 138 255) 45%, rgb(133 75 255) 76%, rgb(120 43 255) 100%);
    color: black;
}

@media (min-width: 768px){
    
    .main-loggin {
        width: 500px;
    }

    .main-loggin .section-loggin {
        width: 70%;
    }

    .section-main-loggin {
        width: 75%;
    }
}