*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-image: url("../images/v1016-b-08.jpg");
}

/* Comienzo main */

.main-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

div.titulo-seccion{
    margin: auto;
    color: #ced4da;
    padding: 10px;
    border-radius: 30px;
    font-weight: 300;
}

main section {
    width: 90vw;
    margin: 15px auto;
}

main section.section-producto article:hover {
    box-shadow: rgb(227, 200, 255) 0px 0px 10px 2px;
    transition: 0.3s;
}

main section.section-producto article:hover img{
    opacity: 100%;
    transition: 0.3s;
}

main section.section-producto article img {
    opacity: 90%;
}

main section article.filtroListador {
    max-width: 40vw;
    margin: 20px 0;
    padding: 20px 0;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
}

main section article.filtroListador div h3 {
    color: #343a40;
    position: absolute;
    left: 15px;
    bottom: 7px;
}

main section article.filtroListador div h3 i{
    margin-left: 10px;
}

main section article.producto {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

main section article div.img-producto {
    display: flex;
    justify-content: center;
    padding: 10px 0
}

main section article div img {
    max-width: 80vw;
    height: 60vw;
    object-fit: contain;
}

.main-content section.section-producto article div.titulo-producto {
    font-weight: 300;
    font-size: 20px;
}

main section article div.descripcion-article{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgb(244 237 255) 0%, rgb(222 209 255) 23%, rgb(174 138 255) 45%, rgb(133 75 255) 76%, rgb(120 43 255) 100%);
    color: #343a40;
    padding: 8px 15px;
    position: relative;
    border-top: 2px solid #343a40;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
}

main section article div.descripcion-article div.valores-producto{
    color: #fff;
    text-align: right;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.separador {
    display: none;
}

/* Fin main */

/*/////////////////// Tablets //////////////////////*/


@media (min-width: 768px){

    .main-content {
        display: flex;
    }

    .main-content section.section-producto {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    main section article.filtroListador {        
        width: 40vw;
        margin-left: 20px;
    }

    div.titulo-seccion {
        margin: auto;
    }
    
    main section article.producto {
        display: flex;
        flex-wrap: wrap;
        width: 40vw;
    }

    main section article div img {
        max-width: 40vw;
        height: 25vw;
    }
    main section article div.descripcion-article{        
        width: 40vw;        
    }

    .separador {
        display: none;
    }
}


/*/////////////////// DESKTOP //////////////////////*/

@media (min-width: 1200px){
    main section article.producto {        
        width: 20vw;
    }

    main section article div img {
        max-width: 20vw;
        height: 10vw;
    }
    main section article div.descripcion-article{        
        width: 20vw;
        height: 5vw;
    }

    .separador {
        background-color: rgb(69 57 90);
        padding: 2px;
        height: 2px;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 10px;
    }

}