body.body-crear {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main.main-crear {
  width: 90vw;
  margin: 20px auto;
  background-color: #fff;
  color: #2e2e2e;
  padding: 20px;
  border-radius: 15px;
}

section.section-crear form.form-crear {
  padding: 2vw 6vw 4vw 2vw;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.main-crear .titulo-form-crear {
  color: #2e2e2e;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
}

section.section-crear form.form-crear div.campo-crear {
  display: flex;
  flex-direction: column;
  line-height: 35px;
}

.section-crear .form-crear .campo-crear input.nombre-producto {
  padding: 10px;
  border: none;
  background-color: #2e2e2e;
  border-radius: 15px;
  color: #fff;
  width: 200px;
  box-shadow: #35007a 0 0 10px;
}


section.section-crear form.form-crear div.boton {
  margin: 15px 0;
}

.section-crear .campo-crear select,
.section-crear .campo-crear input.subir-imagenes {
  text-decoration: none;
  color: #fff;
  border-radius: 15px;
  border: none;
  background: rgb(133 75 255);
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  transition: all .5s;
}

section.section-crear form.form-crear button.button-crear a {
  text-decoration: none;
  color: #fff;
}

button.button-crear {
  border-radius: 15px;
  border: none;
  background: rgb(133 75 255);
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  transition: all .5s;
}

button.button-crear:hover {
  background: linear-gradient(90deg, rgb(244 237 255) 0%, rgb(222 209 255) 23%, rgb(174 138 255) 45%, rgb(133 75 255) 76%, rgb(120 43 255) 100%);
  color: black;
}


@media (min-width: 768px) {

  body.body-crear {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main.main-crear label, main.main-crear input, main.main-crear select {
    display: inline;
  }

  
  main.main-crear {
    margin: 0 auto;
  }

  /* main.main-crear section.section-crear form.form-crear {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } */

  .section-crear .form-crear .campo-crear {
    /* display: flex;
    flex-direction: column; */
    line-height: 35px;
  }

  div.campo-crear textarea  {
    width: 500px;
    height: 100px;
  }


}