main.main-rgt {
  width: 70%;
  margin: 20px auto;
  background-color: #fff;
  color: #2e2e2e;
  padding: 20px;
  border-radius: 15px;
}

form.form-rgt {
  padding: 2vw 6vw 4vw 2vw;
}

main.main-rgt .titulo-form-rgt {
  color: #2e2e2e;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
}

section.section-rgt form.form-rgt {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-rgt .form-rgt .campo-rgt {
  display: flex;
  flex-direction: column;
  line-height: 35px;
}

.section-rgt .form-rgt .campo-rgt input {
  padding: 10px;
  border: none;
  background-color: #2e2e2e;
  border-radius: 15px;
  color: #fff;
  width: 200px;
  box-shadow: #35007a 0 0 10px;
}

.section-rgt .form-rgt .boton {
  margin: 15px 0;
}

.section-rgt .form-rgt .button-rgt {
  padding: 8px;
  margin: auto;
  border-radius: 15px;
  border: none;
  color: #fff;
  background-color: rgb(133 75 255);
}

.section-rgt .form-rgt .button-rgt:hover {
    background-color: rgb(109, 41, 255);
    transition: 0.3s;
}

.section-rgt .form-rgt .button-rgt a{
  text-decoration: none;
  color: #fff;
}

@media (min-width: 768px){

  main.main-rgt {
    margin: 20px auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }

  main.main-rgt section.section-rgt form.form-rgt{
    display: flex;    
    flex-direction: column;
    align-items: center;
  }

  .section-rgt .form-rgt .campo-rgt{
    display: flex;
    flex-direction: column;
    line-height: 35px;
  }

  main.main-rgt form.form-rgt div.terminos-form {
    margin-top: 15px;
  } 


}