* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-rgt p.tituloFormulario {
  color: #ffffff;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
}

.section-rgt {
  font-family: "Oswald", sans-serif;
  color: #343a40;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1vw;
  width: 30vw;
  border-radius: 1vw;
}

.main-rgt section div.campo {
  margin-top: 2vh;
}

.main-rgt section input {
  width: 60%;
}

.button-rgt {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  background-color: #343a40; /* white */
  border: 0.2vw solid black;
  border-radius: 1vw;
  color: #ffffff;
  padding: 1vw 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button-rgt a:visited {
  color: #ffffff;
}

.main-rgt section input.checkbox-rgt {
  width: fit-content;
}

.footer-rgt{
  position: static;
        bottom: 0%;
        width: 100vw;
}
