body.body-crear {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main.main-crear {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 0 auto 20px;
  background-color: #fff;
  color: #2e2e2e;
  padding: 20px;
  border-radius: 15px;
}

section.section-crear form.form-crear {
  /* padding: 2vw 6vw 4vw 2vw;
  margin: 20px 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-form-crear {
  color: #ebebeb;
  margin: 10px auto;
}

section.section-crear form.form-crear div.campo-crear {
  display: flex;
  flex-direction: column;
  line-height: 35px;
}

.section-crear .campo-crear input.subir-imagenes,
.section-crear .campo-crear select,
.section-crear .form-crear .campo-crear input.nombre-producto {
  padding: 10px;
  border: none;
  background-color: #2e2e2e;
  border-radius: 15px;
  color: #fff;
  width: 200px;
  box-shadow: #35007a 0 0 10px;
}


section.section-crear form.form-crear div.boton {
  margin: 15px 0;
}

.section-crear .campo-crear input.subir-imagenes {
  text-decoration: none;
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  width: fit-content;
}

section.section-crear form.form-crear button.button-crear a {
  text-decoration: none;
  color: #fff;
}

button.button-crear {
  border-radius: 15px;
  border: none;
  background: rgb(133 75 255);
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  transition: all .5s;
}

button.button-crear:hover {
  background: linear-gradient(90deg, rgb(244 237 255) 0%, rgb(222 209 255) 23%, rgb(174 138 255) 45%, rgb(133 75 255) 76%, rgb(120 43 255) 100%);
  color: black;
}

section.img-editar-producto img{
  max-width: 80vw;
}


@media (min-width: 768px) {

  main.main-crear {
    margin: 20 0 20 0 auto;
    max-width: 1200px;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
  }

  main.main-crear section.section-crear form.form-crear {
    /* border: red dashed 2px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;

  }

  .section-crear .form-crear .campo-crear {
    display: flex;
    align-items: flex-start;
    line-height: 35px;
  }

  .section-crear .form-crear .campo-crear input, .campo-crear select {
    margin: 0 0 10;
  }

  div.campo-crear textarea {
    width: 500px;
    height: 100px;
    padding: 10px;
  }
  section.section-crear form.form-crear div.boton {
    margin: 15px 0 0;
  }

}

@media (min-width: 1100px) {

  main.main-crear {
    display: flex;
    flex-direction: row;
  }

  section.img-editar-producto img{
    max-width: 30vw;
  }
}