/* Codigo header agregado específicamente en detalle */

/* Header */

.navbar-usuario-registro-detalle ul{
    width: 320px;

}
/* Footer */

/* MAIN */
main.detalle{
    color:aliceblue;
    width: 85vw;
    margin: 0px auto 5px;
    }
.encabezadoProd{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}

.condiciones{
    display: flex;
    justify-content: flex-start;
}
.encabezadoProd div.nombreProducto{
    font-size: 20px;
}
.precio, .descuento, .cuotas, .disp{
        color: #fff;
        text-align: left;
        font-size: 18px;
        flex-direction: column;
        justify-content: space-around;
        margin: 5px;
}
.descuento{
    color:green
}
.envio{
    font-size: 15px;
    color: #fff;
    text-align: left;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
}

.imgProd{
    width: 100%;
    border-radius: 7px;
}
ul{
    margin-left: 5%;
}
.pagos{
    list-style: none;
}
.calificacion{
    font-size: 12px;
    padding: 5px;
}
.nombreProd{
    padding: 5px;
}
i {
    margin: 2px;
}
.parrafos{
    text-align: justify;
    padding: 2%;
}
form.compra button a{
    text-decoration:none;
    color: #fff;
    transition: all .5s;  
    }

form.compra button{
    border-radius:7%;
    background-color: rgb(133 75 255);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    transition: all .5s;
}
/* Fin Main */


/* Tablet */
@media (min-width: 480px){
    
main.detalle{
    width: 85vw;
    background-color:rgb(71, 67, 67);
    max-width: 1200px;
}
.encabezadoProd div.nombreProducto{
    font-size: 30px;
}
.fotoybasic{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.imgProd{
    margin-left: 15px ;
    width: 40vw;
    max-width: 550px;
}
.encabezadoProd{
    width: 95%;
}
div.basic{
    margin:1% 7% 4%;
    position:relative;
    display: flex;
    flex-direction: column;
    width: 30vw;
    max-width: 45vw;
    padding: 10px;
}
.descripcion{
    order: 10;
    width: 70vw;
    text-align: justify;
    position: relative;
    margin-left: -45vw;
    
}

form.compra{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order:5;
}

article.disclaimers{
    order: 10;
}
.compra button{
    font-size: 14px;
    padding: 1px;
    border-radius: 3px;
    margin: 2px;
    width:85%;
    height: 50px;
}


form.compra button:hover{
    background: linear-gradient(90deg, rgb(244 237 255) 0%, rgb(222 209 255) 23%, rgb(174 138 255) 45%, rgb(133 75 255) 76%, rgb(120 43 255) 100%);
    text-decoration: none;
}
form.compra button:hover a{
    color: black;
}


}

/* Desktop */

@media (min-width: 770px) {
    .compra button{
        font-size: 17px;
        padding: 3px;
        border-radius: 3px;
        padding: 3px;
        border-radius: 3px;
        margin: 5px;
        width: 45%;
        height: 60px;
    }
    form.compra{
        flex-direction: row;
    }
    .descripcion{
        order: 0;
        width: 100%;
        position: relative;
        margin-left: 0px;
    }
}