<html lang="en">
<!-- Head -->
<%- include('partials/head') %> 

<body>
    <!-- Header -->
    <%- include('partials/header') %> 
    

    <main class="main-carrito">
        
        
        <h2 class="carrito-titulo">Carrito de Compras</h2> 
        
        <section class="carrito-principal">
                  
            <article class="carrito-articulo">
                <i class="fa-regular fa-trash-can"></i>
                <picture class="carrito-imagen-producto"><img src="/images/cam-logi.jpg" alt="imagen-producto" class="imagen-carrito"></picture>
                <div class="carrito-articulo-nombre-descripcion">
                    <h3>C340 HD WEBCAM</h3>
                    <p class="carrito-articulo-detalle">Camara Web Webcam HD con Microfono</p>
                </div>
                <div class="carrito-articulo-cantidad-precio">
                    <p class="carrito-cantidad"><i class="fa-solid fa-circle-minus"></i> Cant:1 <i class="fa-solid fa-circle-plus"></i></p>
                    <p class="carrito-precio">$15.400,00</p>
                </div>
            </article>

            <article class="carrito-articulo">
                <i class="fa-regular fa-trash-can"></i>
                <picture class="carrito-imagen-producto"><img src="/images/hp-yellow.jpg" alt="imagen-producto" class="imagen-carrito"></picture>
                <div class="carrito-articulo-nombre-descripcion">
                    <h3>Auriculares HP350</h3>
                    <p class="carrito-articulo-detalle">Auriculares de alta calidad, marca HP, cable 1.5m , color negro</p>
                </div>
                <div class="carrito-articulo-cantidad-precio">
                    <p class="carrito-cantidad"><i class="fa-solid fa-circle-minus"></i> Cant:1 <i class="fa-solid fa-circle-plus"></i></p>
                    <p class="carrito-precio">$4.500,00</p>
                </div>
            </article>
            
            <article class="carrito-articulo">
                <i class="fa-regular fa-trash-can"></i>
                <picture class="carrito-imagen-producto"><img src="/images/mic-blue.jpg" alt="imagen-producto" class="imagen-carrito"></picture>
                <div class="carrito-articulo-nombre-descripcion">
                    <h3>Microfono Mic-630</h3>
                    <p class="carrito-articulo-detalle">Micrófono SoloCast condensador cardioide negro</p>
                </div>
                <div class="carrito-articulo-cantidad-precio">
                    <p class="carrito-cantidad"><i class="fa-solid fa-circle-minus"></i> Cant:1 <i class="fa-solid fa-circle-plus"></i></p>
                    <p class="carrito-precio">$6.800,00</p>
                </div>
            </article>

            <article class="carrito-articulo">
                <i class="fa-regular fa-trash-can"></i>
                <picture class="carrito-imagen-producto"><img src="/images/ring-light-10.jpg" alt="imagen-producto" class="imagen-carrito"></picture>
                <div class="carrito-articulo-nombre-descripcion">
                    <h3>Aro luz</h3>
                    <p class="carrito-articulo-detalle">Auriculares de alta calidad, marca HP, cable 1.5m , color negro</p>
                </div>
                <div class="carrito-articulo-cantidad-precio">
                    <p class="carrito-cantidad"><i class="fa-solid fa-circle-minus"></i> Cant:1 <i class="fa-solid fa-circle-plus"></i></p>
                    <p class="carrito-precio">$3.500,00</p>
                </div>
            </article>
        </section>

        <section class="seccion-total">

            <p id="subtotal">Sub-Total $30.200,00</p>
           
            <div class="carrito-envio">
                <select value="direccion-envio" class="carrito-input-envio">
                    <option value="direccion-envio" selected>Retiro por Local</option>
                    <option value="direccion-envio">Calle Inventada 4321 Casa, Localidad</option>
                    <option value="direccion-envio">Avenida UnoDosTres 123 Piso 12 Dto C, Localidad </option>
                    <option value="direccion-envio">Nueva dirección </option>
                </select>                
            </div>
            <p id="costo-envio">Costo Envío $1.800,00</p>
            
            <p id="total-con-envio">Total con Envío $32.000,00</p>
            <button class="boton-comprar">Comprar</button>

        </section>

    </main>
    
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>