<html lang="en">
<!-- Head -->
<%- include('partials/head') %> 
<body class="body-crear">
    <!-- Header -->
    <%- include('partials/header') %> 
    <main class="main-crear">
        <!-- título del formulario "Crear producto-->
    <p class="titulo-form-crear">
        Crear producto
      </p>
        <section class="section-crear">
            <form action="/" method="POST" class="form-crear">
                <div class="campo-crear">
                    <label for="nombre">Nombre del producto</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Coloque aquí el nombre del producto">
                </div>
                <div class="campo-crear">
                    <label for="marca">Coloque la marca</label>
                    <select>
                        <option value="" selected>Seleccione una marca</option>
                        <option value="a">A</option>
                        <option value="b">B</option>
                        <option value="c">C</option>
                        <option value="d">D</option>
                    </select>
                </div>
                <div class="campo-crear">
                    <label for="precio">Precio del producto</label>
                    <input type="number" id="precio" name="precio">
                </div>
                <div class="campo-crear">
                    <label for="condiciones">Condiciones</label>
                    <input type="text" id="condiciones" name="condiciones" placeholder="3 cuotas sin interés">
                </div>
                <div class="campo-crear">
                    <label for="img">Subir imágenes del producto:</label>
                    <input type="file" id="img" name="img" placeholder="Seleccionar imágenes">
                </div>
                <div class="campo-crear">
                    <label for="caract">Características principales</label>
                    <textarea id="caract" placeholder="caract" name="caract"></textarea>
                </div>
                <!-- Características principales es lo que va al costado de la imagen en la versión de escritorio y descripción detallada es lo que va abajo -->
                <div class="campo-crear">
                    <label for="descripcion">Descripción detallada</label>
                    <textarea id="descripcion" placeholder="descripcion del usuario" name="descripcion"></textarea>
                </div>
                <!-- botón "Crear producto" -->
          <div class="boton">
            <button type="submit" class="button-crear">
              <a href="/">Crear producto</a>
            </button>
          </div>
            </form>
        </section>
    </main>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>