<html lang="en">
<!-- Head -->
<%- include('partials/head') %> 
<body class="body-crear">
    <!-- Header -->
    <%- include('partials/header') %>

    <h1 class="titulo-form-crear">
        Crear producto
    </h1>
    
    <main class="main-crear">
        <!-- título del formulario "Crear producto-->
        <section class="section-crear">
            <form action="/" method="POST" class="form-crear">
                <div class="campo-crear">
                    <label for="nombre">Nombre del producto</label>
                    <input class="nombre-producto" type="text" id="nombre" name="nombre" placeholder="Coloque aquí el nombre del producto">
                </div>
                <div class="campo-crear">
                    <label for="marca">Marca del producto</label>
                    <select>
                        <option value="" selected>Seleccione una marca</option>
                        <option value="LG">LG</option>
                        <option value="Sony">Sony</option>
                        <option value="Sennheiser">Sennheiser</option>
                        <option value="Bosse">Bosse</option>
                    </select>
                </div>
                <div class="campo-crear">
                    <label for="precio">Precio del producto</label>
                    <input class="nombre-producto" type="number" id="precio" name="precio" placeholder="30000">
                </div>                
                <div class="campo-crear">
                    <label for="img">Subir imágenes del producto:</label>
                    <input class="subir-imagenes" type="file" id="img" name="img" placeholder="Seleccionar imágenes">
                </div>
                <div class="campo-crear">
                    <label for="caract">Características principales</label>
                    <textarea id="caract" placeholder="Escribí las características" name="caract"></textarea>
                </div>
                <!-- Características principales es lo que va al costado de la imagen en la versión de escritorio y descripción detallada es lo que va abajo -->
                <div class="campo-crear">
                    <label for="descripcion">Descripción detallada</label>
                    <textarea id="descripcion" placeholder="Describí el producto" name="descripcion"></textarea>
                </div>
                <!-- botón "Crear producto" -->
          <div class="boton">
            <button type="submit" class="button-crear">
              <a href="/">Crear producto</a>
            </button>
          </div>
            </form>
        </section>
    </main>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>