<html lang="en">
<!-- Head -->
<%- include('partials/head') %> 

<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <section class="section-error">
        <div class="div-error">
            <h1>OOOPS!!!</h1>
            <h2>ERROR 404</h2>
            <h2>PAGE NOT FOUND</h2>
        </div>
    </section>    
</body>
<!-- Footer -->
<%- include('partials/footer') %>
</html>