<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('partials/head') %> 

<body>
    <!-- Header -->
    <%- include('partials/header') %> 
  
  <main class="main-rgt">
  
    <!-- título del formulario "Creá tu cuenta de StreamCaster" -->
    <p class="titulo-form-rgt">
      Creá tu cuenta de StreamCaster
    </p>
  
    <section class="section-rgt">
      <form action="/user/registro" method="POST" class="form-rgt">
        <!-- campo "Nombre" -->
        <div class="campo-rgt">
          <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" required />
        </div>
        <!-- campo "Apellido" -->
        <div class="campo-rgt">
          <label for="apellido">Apellido</label>       
          <input type="text" name="apellido" id="apellido" required />
        </div>
        <!-- campo "Email" -->
        <div class="campo-rgt">
          <label for="email">Email</label>          
          <input type="email" name="email" id="email" required />
        </div>
        <!-- campo "Contraseña" -->
        <div class="campo-rgt">
          <label for="contraseña">Contraseña</label>          
          <input type="password" name="contrasenia" id="contrasenia" required />
        </div>
        <!-- cuadrito de verificacion "Acepto términos y condiciones" -->
        <div class="terminos-form">
          <label>
            <input type="checkbox" id="checkbox-rgt" class="checkbox-rgt" required> Acepto términos y condiciones
          </label>          
          <!-- enlace "Ver términos y condiciones" -->
          <div class="campo-rgt"><a href="">
            Ver términos y condiciones</a>
          </div>          
          <!-- botón "Crear una cuenta" -->
          <div class="boton">
            <button type="submit" class="button-rgt">
              Crear una cuenta
            </button>
          </div>          
          <!-- línea "¿Ya tenés una cuenta?" enlace "Ingresá" -->
          <div class="campo">
            <span>¿Ya tenés una cuenta?</span>
            <a href="">Ingresá</a>
          </div>
        </div>
      </form>
    </section>
  </main>

    <!-- Footer -->
    <%- include('partials/footer') %>

</body>

</html>