<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('partials/head') %> 
<!-- este html lo edita Hernán Ingrassia -->

<body>

    <!-- Header -->
    <%- include('partials/header') %> 

    <main class="main-profile">
        <section>
            <div><%=  %></div>            
            <div>Hola (nombre de usuario)</div>
        </section>
        <section class="fotoybasic">
            <picture><img src="/images/users/userDefault.jpg" class="imgProd"></picture>
        </section>            
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>

</body>
</html>
