<header class="detalle">
  <link rel="preconnect" href="https://fonts.googleapis.com" /><link
    rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin
  /><link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
    rel="stylesheet"
  />
  <a href="/">
    <picture class="header-logo">
      <img src="/images/products/logo.png" alt="SClogo" class="imagen-logo" />
    </picture>
  </a>

  <div class="burger-menu">
    <i class="fas fa-bars burger"></i>
  </div>

  <section class="header-principal">
    <div class="header-superior">
      <nav class="navbar-usuario-registro-detalle">
        <ul>
          <% if (locals.isLogged) { %>
          <li>
            <a href="/user/profile" class="navbar-item">
              <div class="header-userprofile">
                <img
                class="avatar-profile"
                src="/images/users/<%= userLogged.avatar %>"
                alt=""
                />
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                <%= locals.userLogged.nombre %>
                <a href="/user/logout">Cerrar Sesion</a>
              </div>             
            </a>
          </li>
          <% } else { %>
          <li>
            <a href="/user/registro" class="navbar-item"
              ><i class="fa-regular fa-user"></i>Registrate</a>
          </li>
          <li>
            <a href="/user/login" class="navbar-item"
              ><i class="fa-regular fa-user"></i>Login</a>
          </li>
          <% } %>
        </ul>
      </nav>
    </div>

    <div class="header-medio">
      <form class="header-navbar-search">
        <input
          class="header-input-search"
          type="text"
          placeholder="Buscar en StreamCaster"
        />
        <i class="fa-solid fa-magnifying-glass icon-search"></i>
        <picture class="header-buscador-cart-shopping"
          ><i class="fa-solid fa-cart-shopping"></i
        ></picture>
      </form>
    </div>

    <div class="header-inferior">
      <nav class="header-navbar">
        <ul class="header-navbar-izquierda">
          <li>
            <a href="/products/listador" class="navbar-item">Monitores</a>
          </li>
          <li><a href="/products/listador" class="navbar-item">Cámaras</a></li>
          <li>
            <a href="/products/listador" class="navbar-item">Micrófonos</a>
          </li>
          <li>
            <a href="/products/listador" class="navbar-item">Botoneras</a>
          </li>
          <li>
            <a href="/products/listador" class="navbar-item">Auriculares</a>
          </li>
        </ul>
        <ul class="header-navbar-derecha">
          <li>
            <a <% if (locals.isLogged) { %>
              href="/carrito"> <% } else { %> href="/user/login"> <% } %>
              <i class="fa-solid fa-cart-shopping"></i>Carrito</a
            >
          </li>

          <% if (locals.isLogged && userLogged.id_rol == 2) { %>
          <li>
            <a href="/products/creacion"
              ><i class="fa-solid fa-pencil"></i>Crear producto</a
            >
          </li>
          <% } %>
        </ul>
      </nav>
    </div>
  </section>
</header>
